@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.figma{
    height: 100vh;
    width: 100%;
    border: 1px solid rgb(39, 39, 39);
    position: relative;
}

#text-1{
    position: absolute;
    width: 209px;
    height: 36px;
    left: 175px;
    top: 86px;
    
    font-family: Magneto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    
    color: #000000;
}

.figma>#block-1{
    position: absolute;
    height: 333px;
    width: 400px;
    left: 179px;
    top: 120px;
    

    border-top: 4px solid #8DE97E;
    border-right: 12px solid rgba(221, 133, 0, 0.19);
    border-bottom: 30px solid #000000;
    border-left: 8px solid #DD0000;

    background: rgba(255, 107, 0, 0.13);
}

.figma>#block-2{
    position: absolute;
    height: 322px;
    width: 400px;
    left: 634px;
    top: 131px;
    border: 1px solid #000;

    border-top: 4px solid #46BCFF;
    border-right: 12px solid rgba(82, 89, 84, 0.19);;
    border-bottom: 10px solid #FD3030;
    border-left: 12px solid #C71D83;;
    
}   

#text-2{
    position: absolute;
    width: 115px;
    height: 21px;
    left: 654px;
    top: 177px;
    
    font-family: Peralta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
        
    color: #000;
}

.figma>#block-2>#img-1{
    position: absolute;
    width: 293px;
    height: 183px;
    left: 47px;
    bottom: -23px;
    background: url(image_1.png);
}

.figma>#block-2>#img-2{
    position: absolute;
    width: 375px;
    height: 34px;

    background: url(image_2.png);
    /* transform: skewX(); */
}

.block{
    width: 200px;
    height: 300px;
    padding: 50px;
    margin: 1rem;
}

#block-a{
    background: linear-gradient(45deg, blue, aqua);
    border: 3px solid red;
}

#block-b{
    background-image: url(https://freehtmlthemes.ru/assets/images/articles/css-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-left: 1px solid red;
    border-right: 3px solid green;
    border-bottom: 8px solid black;
    border-top: 4px solid yellow;
    border-radius: 10px;
}

#block-c{
    height: 600px;
    width: 600px;
    background-image: url(https://img.freepik.com/free-vector/colorful-flow-background_23-2148632517.jpg?size=626&ext=jpg), url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-smoke-bb-5_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c8347a73d6427dda5d03bd1100c39354);
    background-repeat: no-repeat, repeat-x;
    background-position: left center, bottom right;
    background-attachment: scroll, fixed;
    background-size: initial;
}
